.tab-panels {
  padding: 0rem;
  background-color: #f4f4f4;
  border: 1px solid #777677; }
  .tab-panels--tab-list {
    border-bottom: 1px solid #e0e0e0; }
  .tab-panels--tab-list-item {
    display: inline-block;
    margin-top: 0rem; }
  .tab-panels--tab {
    display: block;
    text-decoration: none;
    padding: 0.66667rem 1.33333rem;
    border-bottom: 6px solid transparent; }
    .tab-panels--tab.base--a {
      border-bottom: 6px solid transparent;
      color: #121212; }
    .tab-panels--tab:focus, .tab-panels--tab:hover {
      border-bottom: 6px solid #734098; }
    .tab-panels--tab.active {
      border-bottom: 6px solid #734098; }
  .tab-panels--tab-content {
    margin-top: 0rem;
    padding: 2rem;
    background-color: #fff; }
  .tab-panels--tab-pane {
    display: none;
    margin-top: 0; }
    .tab-panels--tab-pane.active {
      display: block; }
