
.icon {
  vertical-align: middle;
  font-size: 1em;
  color: inherit;
  height: 2rem;
  width: 2rem;

  &:before {
    vertical-align: middle;
  }

  &_small {
    height: 1rem;
    width: 1rem;
  }

  &_large {
    height: 4rem;
    width: 4rem;
  }
}
