{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/require-extension": "off", // deprecated and prints a warning unless explicitly disabled
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".js", ".jsx"]
    }],
    "react/prefer-es6-class": "off",
    "react/require-default-props": "warn",
    "react/no-unused-prop-types": "warn",
    "react/forbid-prop-types": "warn",
    "react/no-array-index-key": "off",
    "react/no-unescaped-entities": "warn",
    "import/extensions": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-tabs": "error",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never", // this one was set to always or always multiline, whic breaks gulp
    }],

    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": ["warn", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": true
    }],
    "max-len": ["error", 160],
    "new-cap": "off"
  },
  "env": {
    "node": true,
    "browser": true
  }
}
