{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/require-extension": "off", // deprecated and prints a warning unless explicitly disabled
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".js", ".jsx"]
    }],
    "react/prefer-es6-class": "off",

    // new rules that came in in an update and cause lots of errors
    // todo: fixup code and enable these
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/no-unescaped-entities": "off",
    "import/extensions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-tabs": "off",

    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": ["warn", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": true
    }],
    "max-len": ["error", 160],
    "new-cap": "off"
  },
  "env": {
    "node": true,
    "browser": true
  }
}
