.jumbotron {
  margin-top: 0rem;

  &,
  &._full-width-row {
    padding: 3rem 0rem;
  }

  &--icon {
    width: 8rem;

    @include breakpoint(get('large')) {
      min-width: 6rem;
      width: 80%;
    }
  }

  &--icon-image {
    width: 100%;
  }

  &--header {
    line-height: 1;
    margin-top: 0rem;
  }

  &--description {
    @include grid(11);
    font-weight: 300;
    display: block;
    max-width: 43.75rem;
  }

  &--get-started {
    display: inline-block;
    margin-right: get('rhythm') / 2;
  }

  &--get-started .icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  &--get-started-span {
    margin-left: get('rhythm') / 4;
    font-weight: bold;
    vertical-align: middle;
    font-size: 0.8rem;
  }

  &--version-tag {
    display: inline-block;
    padding: 0.25em 1em;
    background-color: color('white', 30);
    color: color('blue', 80);
    border-left: 8px solid color('purple', 30);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  &--nav {
    font-size: 0.6875rem;
    margin-top: 1.5rem;
  }

  &--nav-ul {
    display: inline-block;
    width: auto;
    margin-top: 0.5rem;
  }

  &--nav-ul.base--ul_inline .jumbotron--nav-li {
    margin-bottom: 0.5rem;
  }

  &--nav-link {

    &,
    &:hover,
    &:focus,
    &:visited {
      color: color('gray', 90);
      border-bottom: 1px solid color('gray', 90);
    }

    &.base--button_fill {
      text-decoration: none;
    }
  }
}
