@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: " ";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

$tile-aspect-ratio-height: 145;
$tile-aspect-ratio-width: 195;
$tile-width: 10rem;
$tile-height: 8rem;
$tile-padding: 0.2rem;
@mixin image-tiles {
  &--tile {
    @include divisions(2);
    border: none;
    transition: 0.2s;
    margin-top: 0;
    margin-bottom: get('rhythm') / 2;
    padding: 0.4rem;
    cursor: pointer;
    position: relative;

    &_unselected {
      opacity: 0.25;
    }

    @include breakpoint(get('small')) {
      // max-width: $tile-width;
      @include divisions(5);
    }
  }

  &--tile-image-container {
    @include aspect-ratio($tile-aspect-ratio-width, $tile-aspect-ratio-height);
    background-color: transparent;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px color('gray', 10);
  }

  &--tile-image {
    position: absolute;
    top: -9999px;
    left: -9999px;
    bottom: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 100%;
  }
}

.image-picker {
  @include image-tiles;

  &--section {
    @include breakpoint(get('large')) {
      @include grid(12);
      float: none;
    }

    .arrow-box--icon {
      width: 1.5rem;
      height: 1.5rem;
      right: calc(100% + 0.75rem);
      top: calc(50% - 0.75rem);
    }
  }

  &--url-input {
    font-size: 0.75em;
    color: color('gray', 90);
    font-weight: 200;

    &_error {
      border-color: color('red', 50);
      box-shadow: 0px 0px 0px 1px color('red', 50);
      &:focus {
        border-color: color('red', 50);
        outline: none;
      }
    }
  }

  &--tile-input-container {
    @include aspect-ratio($tile-aspect-ratio-width, $tile-aspect-ratio-height);
    width: 100%;
    position: relative;
    text-align: center;
    border: 2px dashed color('white', 50);
    display: block;
    overflow: auto;
    margin-top: 0rem;

    .content {
      padding: 1rem;
    }

    &_error {
      box-shadow: 0px 0px 0px 2px color('red', 50);
    }
  }

  &--file-input {
    display: none;
  }

  &--tile-input-icon {
    line-height: 1;
    font-size: 1.2em;
    margin-top: 0.5rem;

    .icon {
      width: 1rem;
      height: 1rem;
    }

    @include breakpoint(get('small')) {
      font-size: 0.7em;
      margin-top: 0rem;

      .icon {
        width: 0.8rem;
        height: 0.8rem;
      }
    }

    @include breakpoint(746px) {
      margin-top: 0.5rem;

      .icon {
        width: 1rem;
        height: 1rem;
      }
    }
  }
  &--tile-input-description {
    font-weight: 300;
    font-size: 0.85em;
    line-height: 1.4;

    @include breakpoint(get('small')) {
      font-size: 0.5em;
    }

    @include breakpoint(646px) {
      font-size: 0.6em;
    }

    @include breakpoint(746px) {
      font-size: 0.7em;
    }
  }

  &--error-message {
    color: #fff;
    font-size: 0.74em;
  }

  &--arrow-box {
    padding: 0.75rem,
  }

  &--preview-image-container {
    position: absolute;
    top: 0rem;
    left: 0rem;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
  }

  &--preview-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
  }

  &--preview-x {
    position: absolute;
    z-index: 2000;
    right: 0rem;
    top: 0rem;
  }
}

.dropzone {
  transition: 0.2s;

  &_on-drag {
    background-color: opacify(color('blue', 10), 0.1);
  }
}
