@import 'watson-ui-components/dist/_watson-ui-components.scss';

//////////////////////////////
// Core
//////////////////////////////
@import 'core/index';

//////////////////////////////
// Base Elements
//////////////////////////////
@import 'base/index';

//////////////////////////////
// Components
//////////////////////////////
@import 'components/index';

//////////////////////////////
// Layouts
//////////////////////////////
@import 'layouts/index';

@import 'shame';
