// @mixin tooltip(
//     $box-color: setting-get('primary color'),
//     $box-width: 20rem,
//     $box-offset: 0rem,
//     $arrow-size: 1rem,
//     $arrow-color: $box-color,
//     $positioning: 'top'
//   ) {
//   position: absolute;
//   background-color: $box-color;
//   padding: setting-get('rhythm') / 2;
//   width: $box-width;
//   left: - $box-width / 2 + $box-offset;
//   color: white;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.2;
//   visibility: hidden;
//   opacity: 0;
//   bottom: calc(100% + #{($arrow-size + 0.5rem)});
//
//   @if $positioning == 'bottom' {
//     bottom: auto;
//     top: calc(100% + #{($arrow-size + 0.5rem)});
//   }
//
//   &:after {
//     content: '';
//     position: absolute;
//     left: $box-width / 2 - $arrow-size;
//     border: $arrow-size solid transparent;
//     top: 100%;
//     border-top-color: $arrow-color;
//
//     @if $positioning == 'bottom' {
//       top: auto;
//       bottom: 100%;
//       border-top-color: transparent;
//       border-bottom-color: $arrow-color;
//     }
//   }
//
//   .base--a {
//     color: white;
//     &:hover {
//       color: color('gray', 10);
//     }
//   }
// }

.arrow-box {
  background-color: color('gray', 40);
  padding: 1rem;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: 0.2s opacity, 0.2s transform;

  &_hidden {
    visibility: hidden;
    opacity: 0;
  }

  &--arrow {
    content: '';
    position: absolute;
    border: 0.5rem solid transparent;
    margin: 0rem;
  }

  &--icon {
    position: absolute;
    right: calc(100% + 1rem);
    top: calc(50% - 1rem);
  }

  &_top {
    .arrow-box--arrow {
      top: 100%;
      left: calc(50% - 0.5rem);
      border-top-color: color('gray', 40);
    }
  }

  &_bottom {
    .arrow-box--arrow {
      bottom: 100%;
      left: calc(50% - 0.5rem);
      border-bottom-color: color('gray', 40);
    }
  }

  &_left {
    .arrow-box--arrow {
      left: 100%;
      top: calc(50% - 0.5rem);
      border-left-color: color('gray', 40);
    }
  }

  &_right {
    .arrow-box--arrow {
      right: 100%;
      top: calc(50% - 0.5rem);
      border-right-color: color('gray', 40);
    }
    .arrow-box--icon {
      top: auto;
      bottom: calc(100% + 1rem);
      right: calc(50% - 1rem);
    }
  }
}
