.header {
  $wordmark-breakpoint: 1262px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.625rem;
  background-color: white;
  padding: 0rem;
  position: relative;

  @include breakpoint(get('large')) {
    padding: 0rem 1.6rem;
  }

  &--wordmark {
    font-size: 1.1rem;
    font-weight: bold;
    top: calc(50% - 10px);
    position: absolute;
    display: none;
    margin-top: -0.2rem;

    @include breakpoint($wordmark-breakpoint) {
      display: inline-block;
    }
  }

  &--wordmark-link {
    border: none;
  }

  &--wordmark-svg {
    height: 20px;
    width: 100px;
  }

  &--wordmark-2 {
    display: none;
    margin-right: 1rem;
    @include breakpoint(get('small')) {
      display: inline-block;
    }
    @include breakpoint($wordmark-breakpoint) {
      display: none;
    }
  }

  &--wordmark-2-link {
    border: none;
  }

  &--breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.6875rem;
  }

  &--breadcrumbs-main {
    &,
    &:hover,
    &:focus,
    &:visited {
      font-weight: bold;
      color: color('purple', 50);
      display: inline-block;
      margin-top: 0rem;
    }
  }

  &--breadcrumbs-slash {
    color: color('purple', 50);
    display: inline-block;
    margin: 0rem get('rhythm') / 4;
  }

  &--breadcrumbs-sub {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: color('gray', 50);
      display: inline-block;
      margin-top: 0rem;
    }
  }

  &--breadcrumbs-link {
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}
