.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  background-color: white;
  padding: 0rem get('rhythm');

  &--wordmark {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &--spacer {
    flex-grow: 1;
    margin-top: 0rem;
  }

  &--link {
    margin-top: 0rem;
    border-bottom: none;
    font-size: 0.9rem;

    &:hover,
    &:focus {
      border-bottom: none;
    }

    .icon {
      height: 0.75rem;
      width: 0.75rem;
    }
  }
}
